@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(160deg, #FFA07A, 
    #FA8072);
    color: #FFF0F5;
    min-height: 100vh;
    font-size: 1.6rem;
    font-family: 'Paytone One', sans-serif;
    letter-spacing: 0.1rem;    
}

header, form, p{
    min-height: 10vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

form input{
    min-width: 40%;
}

form input, form button{
    background: white;
    border: none;
    border-radius: 0.2rem;
    font-family: 'Indie Flower', cursive;
    font-size: 1.4rem;
    padding: 0.1rem;
}
form button{
    background: #FFF0F5;
    color: black;
    cursor:pointer;
    transition: all 0.7s ease;
}
form button:hover{
    background: #FFA07A;
    color: #FF4500;
}
.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.todul-li{
    min-width: 40%;
    list-style: none;
    margin: 1rem;
    
    
}
.todo-div{
    margin: 0.6rem;
    padding: 0.1rem;
    background: white;
    color: black;
    border-radius: 0.5rem;
    font-family: 'Indie Flower', cursive;
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 1s ease;
}
.todo-div li{
    flex: 1;
}
.coBtn {
    color: greenyellow;
    margin: 0.2rem;
    background-color: #ffffff; 
    
    cursor: pointer;  
}
.delBtn{
    /* color: #696969; */
    color: rgb(242, 109, 109);
    background-color:  #ffffff;
    cursor: pointer;
}    
.fa-trash,
.fa-check {
    pointer-events: none;
    margin-left: 0.2rem; 
    font-size: 1.0rem;
}
.coBtn:hover{
    color: rgb(4, 134, 28); 
}
.delBtn:hover{
    color: #696969;
}
.completed{
    background:  #23ec4f !important;
    color:  #188830;  
}
 .drop{
    transform:translate(2rem);
    /* transform: transform()(4rem) ; */
    opacity:  0;
} 
#clock{
    display: flex;
    justify-content: center;
    text-align: center;
   margin: 0.2rem;
    color: rgb(163, 0, 0);
    font-size: 1.2rem;

}
#date{
    display: flex;
    justify-content: center;
    text-align: center;
   margin: 0.2rem;
    color: rgb(255, 55, 55);
}









/* ==================================================== */
/* h1{
    color: #FFA07A;
    letter-spacing: 2px;
    font-size: 40px;
    
    
}
span {
    color: #F08080;
    letter-spacing: 1px;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
}
input {
    background-color: #FFEBCD;
    
    width: 500px;
    margin-top: 20px;
    padding: 10px 10px;
    overflow: hidden;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    font-family: 'Source Sans Pro', sans-serif;
}
p {
    color: #FFA07A;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
}

button {
    background-color:#DB7093;
    font-size: 18px;
    border: 1px solid black;
    border-radius: 6px;
    padding: 5px 10px ;
    margin: 2px ;
}

.todo-li {
    background-color: rgb(252, 216, 170);
    color: black;
    list-style: none;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    
    margin: 1.0rem;
}
.todo-li, li {
    
    border: 1px solid #F0FFFF;
    border-radius: 4px;
    font-size: 20px;
    font-family: 'Architects Daughter', cursive;
    
    
}
.fa {
    color:black;
}

.coBtn {
    color: rgb(150, 253, 169);
   
    
}
.delBtn{
    color: rgb(242, 109, 109);
}    





    
/* } =======================================================*/ 
/* #todos-li{
    display: flex;
    justify-content: center;
    align-items: center;    
} 
li{
    list-style: none;
    margin: 10px;
}
.todo-li {
    
    
    width: 30%;
    list-style: none;
    background-color: white;
    margin: 15px;
 */


